<section class="section-container flex flex-col items-center">
  <%= link_to new_movie_path do %>
    <button class='mx-auto bg-zinc-600 px-[8px] py-[4px] rounded-md text-white mb-[16px]'>Add a movie</button>
  <% end  %>
  <ul class="flex flex-col gap-y-[16px] w-full">
    <% @movies.each do |movie| %>
      <%= link_to movie do  %>
        <li class="flex items-center justify-between base-card">
          <div class="">
            <p><strong> <%= movie.title %> </strong></p>
            <p>Released on: <%= release_date(movie) %></p>
            <p>Summary: <%= truncate(movie.description, length: 10, separator: '') %></p>
          </div>
          <div class="w-[64px] text-center border-solid border-b border-t border-zinc-300 py-[2px]"><%= gross_amount(movie) %></div>
        </li>
      <% end  %>
    <% end %>
  </ul> 
</section>