<!DOCTYPE html>
<html>
  <head>
    <title>Flix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="flex items-center justify-center bg-zinc-200 text-white shadow-sm h-[48px] text-zinc-700 mb-[24px]">Flix</header>
    <div class="section-container"><%= yield %></div>
    <footer class="flex items-center justify-center bg-zinc-100 text-white shadow-sm h-[48px] text-zinc-700 mt-[24px]">
      <a href="www.google.com">Foo studios</a>
    </footer>
  </body>
</html>
